<div fxFill fxLayout="column" fxLayoutAlign="center center">
  <div fxFill fxLayout="column" fxLayoutAlign="space-around center">
    <button [disabled]="subscriptionsActive" mat-raised-button color="primary" (click)="subscribe()">
      Subscribe All
    </button>
  </div>
  <div style="margin-top: 20px;">
    <button [disabled]="!subscriptionsActive" mat-raised-button color="primary" (click)="unsubscribe()">
      Unsubscribe All
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="width: 114.52px; margin: 20px 0px 0px 0px;">
    <mat-spinner *ngIf="subscriptionsActive" diameter="20" color="warn"> </mat-spinner>
  </div>
  <div fxLayoutAlign="center center" style="width: 114.52px; height: 60px;margin-top: 10px;background-color: #cecece;">
    <div [ngClass]="!subscriptionsActive ? 'red' : 'green'" style="width: 30px; height: 30px; border-radius: 50%;"></div>
  </div>
</div>
