<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <span>My Store</span>
  <span></span>
  <div fxLayoutGap="20px">
    <a mat-raised-button routerLinkActive="mat-accent" routerLink="/dvds"
      >DVDs</a
    >
    <a mat-raised-button routerLinkActive="mat-accent" routerLink="/books"
      >Books</a
    >
    <a mat-raised-button routerLinkActive="mat-accent" routerLink="/eletronics"
      >Eletronics</a
    >
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
