<div layout="column" layout-fill>
  <div align="center" layout="row" layout-align="center center">
    <mat-card
      class="info-card mat-elevation-z8"
      flex="80"
      style="margin-top: 60px; width: 800px"
    >
      <mat-card-title></mat-card-title>
      <mat-card-subtitle> </mat-card-subtitle>
      <mat-card-content fxLayout="column" fxLayoutAlign="stretch">
        <form
          (ngSubmit)="onSubmit()"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          #formClient="ngForm"
        >
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between  start">
            <mat-form-field fxFlex="45">
              <input
                matInput
                type="text"
                autocomplete="off"
                [(ngModel)]="firstName"
                name="firstName"
                class="form-control"
                value=""
                required
                minlength="3"
                placeholder="First Name"
                #firstNameField="ngModel"
              />
              <!--
                  #firstNameField
            <mat-hint>
                {{ firstNameField.className }}
              </mat-hint>
              -->
              <mat-hint
                *ngIf="
                  firstNameField.invalid &&
                  (firstNameField.touched || firstNameField.dirty)
                "
                class="field-error"
              >
                <p>Enter a valid name</p>
              </mat-hint>
            </mat-form-field>
            <mat-form-field fxFlex="45">
              <input
                matInput
                type="text"
                autocomplete="off"
                [(ngModel)]="lastName"
                name="lastName"
                class="form-control"
                value=""
                placeholder="Last Name"
                required
                minlength="3"
                #lastNameField="ngModel"
              />
              <mat-hint
                *ngIf="
                  lastNameField.invalid &&
                  (lastNameField.touched || lastNameField.dirty)
                "
                class="field-error"
              >
                <p>Enter a valid name</p>
              </mat-hint>
              <!-- 
                #lastNameField  
                <mat-hint>
                {{ lastNameField.className }}
              </mat-hint>-->
            </mat-form-field>
          </div>
          <br />
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <button
              routerLink="/"
              mat-raised-button
              color="accent"
              type="button"
            >
              <mat-icon>arrow_back</mat-icon>Back
            </button>
            <button
              [disabled]="formClient.invalid"
              mat-raised-button
              color="primary"
              type="submit"
            >
              <mat-icon>done</mat-icon>Submit
            </button>
          </div>
        </form>
      </mat-card-content>
      <mat-card-footer> </mat-card-footer>
    </mat-card>
  </div>
</div>
